body {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 1fr;
    gap: 16px;
}

.header__container {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gainsboro;
}
