:root {
    --main-btn: #e0e0e0;
    --status-btn: rgb(0, 140, 255);
    --delete-btn: rgb(192, 17, 17);
}

body {
    font-family: 'Arsenal SC', sans-serif;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 1fr;

    & button {
        font-size: 1.1rem;
    }
}

.header__container {
    height: 85px;
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 9px 8px 0px rgba(34, 60, 80, 0.2);

    & .add__btn {
        border: none;
        padding: 0.4em 2em;
        border-radius: 8px;
        background-color: var(--main-btn);

    }
}

.main__container {
    grid-column: 1 / 3;
    grid-row: 2 / -1;
    width: 80dvw;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 18px;
    margin: 2em 0;

    & .book__card {
        display: grid;
        justify-items: center;
        padding: 1.5em;
        width: 100%;
        height: 100%;
        border-radius: 18px;
        gap: 24px;
        border: 1px solid black;

        & img {
            border-radius: 16px;
            height: 650px;
            width: 100%;

        }

        & .book__info {
            text-align: center;
            padding-top: 1em;
            border-top: 5px solid black;
            min-width: 100%;
        }

        & h2 {
            font-size: 2rem;
        }

        & h4 {
            font-size: 1.2rem;
        }

        & .reader__info {
            display: flex;
            gap: 32px;
        }

        & .edit__btn {
            padding: 0.2em 2em;
            border-radius: 12px;
            border: none;
        }
    }
}