body {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 1fr;
    gap: 16px;
}

.header__container {
    height: 85px;
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gainsboro;
}

.main__container {
    grid-column: 1 / 3;
    grid-row: 2 / -1;
    width: 80dvw;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 18px;

    & .book__card {
        display: grid;
        width: 500px;
        justify-items: center;
        padding: 1em;
        border-radius: 18px;
        background-color: aqua;
        gap: 12px;

        & img {
            border-radius: 16px;
            height: 600px;
        }

        & .book__info {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        & .reader__info {
            display: flex;
            gap: 32px;
        }

        & .edit__btn {
            padding: 0.2em 2em;
            border-radius: 12px;
            border: none;
        }
    }
}