body {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 1fr;
    gap: 16px;
}

.header__container {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gainsboro;
}

.main__container {
    grid-column: 1 / 3;
    grid-row: 2 / -1;
    width: 80dvw;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    & .book__card {
        display: grid;
        width: 200px;
        justify-items: center;
        padding: 1rem;
    }
}